<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- make sure nuget.org is enabled -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- keep your local library-packs if you need it -->
    <add key="local-packs" value="C:\Program Files\dotnet\library-packs" />
  </packageSources>
</configuration>
